<div class="wrapper">
  <div class="teamSection">
    <h1 class="centerHeading">Meet the Gardeners</h1>
    <div class="">
      <div class="singleProducContainer">
        <img src="/images/team/felix.png" alt="" />
        <div class="singleProductTextContainer">
          <div class="topSection">
            <div class="singleProductHeaderContainer">
              <h1>Felix</h1>
            </div>
            <p>
              Chief Bonsai Officer (最高盆栽責任者) and head of the business
              side of things, Felix's rootless business prowess leaves all in
              the boardroom shaken and in awe of his business skills. Some say
              his suit is actually a bonsai tree which has formed around him,
              giving him a sense of calm and serenity to handle even the
              toughest customers. He's known for branching out into his root
              network to find the best deals.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="producPageContentWrapper">
      <div class="singleProducContainer">
        <div class="singleProductTextContainer">
          <div class="topSection">
            <div class="singleProductHeaderContainer">
              <h1>Andy</h1>
            </div>
            <p>
              The company's official Bonsai Protection Officer (盆栽保護官),
              hobbit lookalike, equipped with special claw finger to fight off
              bonsai predators. After undergoing intensive training since Monday
              morning from the Bonsai King himself, his hobbit-like looks have
              increased at the same rate as his knowledge, as is bonsai
              tradition. It is believed he will look like Samwise Gamgee by next
              Friday.
            </p>
          </div>
        </div>
        <img src="/images/team/andy.png" alt="" />
      </div>
    </div>
    <div class="producPageContentWrapper">
      <div class="singleProducContainer">
        <img src="/images/team/alex.png" alt="" />
        <div class="singleProductTextContainer">
          <div class="topSection">
            <div class="singleProductHeaderContainer">
              <h1>Alex</h1>
            </div>
            <p>
              Finally we have the Bonsai King (盆栽王) himself. This man has
              forgotten more about the art of bonsai than many people learn in a
              lifetime. He was born among the bonsai, he was shaped by them.
              This has given him the ability to communicate directly with them,
              hearing all of their needs, and offering them everything they need
              to flourish into the beautiful trees you see on our website.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="centerHeading">Come Find Us</h1>

  <div class="producPageContentWrapper">
    <div class="singleProducContainer">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d606.7578203771791!2d13.45297402822122!3d52.5328682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e76c7a190bf%3A0xf0f8fb2feac6bed4!2sStorkower%20Str.%20138%2C%2010407%20Berlin!5e0!3m2!1sde!2sde!4v1688558013950!5m2!1sde!2sde"
        {{! width="600"
        height="450" }}
        width="150%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="singleProductTextContainer">
        <div class="topSection">
          <div class="singleProductHeaderContainer">
            <h2>Visit Our Amazing Garden!</h2>
          </div>
          <p>
            Find us in the wonderful bonsai kingdom, also known as Storkower
            Straße. It might not look like it, but it is the optimal place for
            bonsai to thrive. the car fumes and office blocks help the bonsai to
            develop resilience.
          </p>
          <h2>How to Get Here</h2>
          <p>
            <ul>
              <li>Nearest S-Bahn station is S Landsberger Allee
              </li>
              <li>Parking is available next door</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>