<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="">
      <div class="wrapper navContent">
        <div class="logo">
          <img src="/images/bonsai-logo-black.png" alt="" />
          <span>BonsaiBranch</span>
        </div>
        <ul class="navLinks">
          <li><a href="/">Home</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="about">About</a></li>
          <li class="loginIcon"><a href="/signup">Sign up</a></li>
          <li class="loginIcon"><a href="/login">Login</a></li>
        </ul>
        <ul class="navIcons">

          <li>
            <a href="/shoppingcart"><img
                src="/images/cart.svg"
                alt="cart"
              /></a>
          </li>
          <li>
            <a href="/userProfile"><img src="/images/user.svg" alt="cart" /></a>
          </li>
        </ul>
      </div>
    </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>