/* public/stylesheets/style.css body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(81, 221, 38);
}

a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

#to-right {
  padding: 1em;
  float: right;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

#logout-form {
  display: inline;
}

#logout-form button {
  width: 120px;
} */
/* New Styles */
:root {
  --black: #1d2026;
  --medium-grey: #69707d;
  --border-grey: #dedede;
  --light-grey: #ebebeb;
  --white: white;
  --green: #6cad3f;
  --red: #ff6477;
  --std-border-radius: 10px;
  --std-border: 1px solid var(--border-grey);
  --font-L: 44px;
  --font-M: 24px;
  --font-S: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--black);
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 100px;
  background-color: white;
}
nav .navContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-bottom: var(--std-border);
  position: relative;
}
nav .navContent .logo {
  font-size: var(--font-M);
  font-weight: bold;
  color: var(--black);
  bottom: 5px;
  position: relative;
}
nav .navContent .logo img {
  height: 35px;
}
nav .navContent ul {
  display: flex;
  gap: 45px;
}
nav .navContent li {
  list-style: none;
}
nav .navContent a {
  text-decoration: none;
  color: var(--medium-grey);
}
nav .navContent a img {
  width: 18px;
}
nav .navContent a:hover {
  color: #6cad3f;
}

.shop h1 {
  text-align: center;
  margin: 75px 0 50px 0;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.producContainer {
  text-align: center;
}
.producContainer .productTextContainer {
  margin-top: 20px;
  margin-bottom: 30px;
}
.producContainer img {
  width: 100%;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */