<div class="wrapper">
  <div class="singleProducContainer">
    <img src="{{this.imgUrl}}" alt="" />

    <div class="singleProductTextContainer">
      <div class="topSection">
        <div class="singleProductHeaderContainer">
          <span class="storeIcon">Bonsai Store</span>
          <h1>{{this.name}}</h1>
        </div>
        <p>
          {{this.description}}
        </p>
      </div>
      <div class="bottomSection">
        <div class="priceAndButtonContainer">
          <span class="priceValue">{{this.price}}$</span>
          <form method="POST" action="/submit">
            <button class="button" type="submit">Add to cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>