<div class="shop wrapper">
  <h1>Shop Trees</h1>
  <div class="productsGrid">
    {{#each products}}
      <div class="producContainer">
        <a href="/shop/{{this._id}}"><img src={{this.imgUrl}} alt="" /></a>
        <div class="productTextContainer">
          <h2>{{this.name}}</h2>
          <span>{{this.price}}€</span></div>
      </div>
    {{/each}}
  </div>
</div>

{{! <div class="shop wrapper">
      <h1>Shop Trees</h1>
      <div class="productsGrid">
        <div class="producContainer">
          <a href="#"><img src="/images/bonsai/red-maple-4.png" alt="" /></a>
          <div class="productTextContainer">
            <h2>Desojo</h2>
            <span>3000$</span>
          </div>
        </div>
        <div class="producContainer">
           <a href="#"> <img src="/images/bonsai/chinese-elm-1.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Chinese Elm</h2>
              <span>2200$</span>
            </div>
          </div>
          <div class="producContainer">
            <a href="#"><img src="/images/bonsai/red-maple-3.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Red Maple</h2>
              <span>4000$</span>
            </div>
          </div>
          <div class="producContainer">
           <a href="#"> <img src="/images/bonsai/red-maple-2.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Seigen</h2>
              <span>2700$</span>
            </div>
          </div>
          <div class="producContainer">
            <a href="#"><img src="/images/bonsai/chinese-elm-1.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Chinese Elm</h2>
              <span>3500$</span>
            </div>
          </div>
          <div class="producContainer">
           <a href="#"> <img src="/images/bonsai/chinese-elm-2.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Chinese Elm</h2>
              <span>1800$</span>
            </div>
          </div>
          <div class="producContainer">
            <a href="#"><img src="/images/bonsai/red-maple-4.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Chinese Elm</h2>
              <span>2200$</span>
            </div>
          </div>
          <div class="producContainer">
            <a href="#"><img src="/images/bonsai/chinese-elm-1.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Chinese Elm</h2>
              <span>2200$</span>
            </div>
          </div>
          <div class="producContainer">
            <a href="#"><img src="/images/bonsai/chinese-elm-1.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Chinese Elm</h2>
              <span>2200$</span>
            </div>
          </div>
          <div class="producContainer">
            <a href="#"><img src="/images/bonsai/chinese-elm-1.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Chinese Elm</h2>
              <span>2200$</span>
            </div>
          </div>
          <div class="producContainer">
            <a href=""><img src="/images/bonsai/chinese-elm-1.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Chinese Elm</h2>
              <span>2200$</span>
            </div>
          </div>
          <div class="producContainer">
            <a href="#"><img src="/images/bonsai/chinese-elm-1.png" alt="" /></a>
            <div class="productTextContainer">
              <h2>Chinese Elm</h2>
              <span>2200$</span>
            </div>
          </div>  
    </div> }}