<div class="wrapper">
    <h2>Edit User Info</h2>
<form action="/editUser" method="POST" class="form">
    <div class="inputContainer">
  <label>Change Username:
    <input type="text" name="username" placeholder="Username" />
  </label>

<div class="inputContainer">
  <label>
    Change Email Address:
    <input type="text" name="email" placeholder="Email" />
  </label>
</div>
  <button class="button">Save Changes</button>
  </form>
  <form method="POST" action="/deleteUser">
  <button class="button">Delete User</button>
  </form>
</div>
