{{#if userInSession}}
  <div class="wrapper userPage">
    <h1>Welcome, {{userInSession.username}}!</h1>
    <div class="userAccount">
      <p>This is your profile page my friend!</p>
      <button class="button">
        <img src="/images/cart-white.svg" alt="" />
        <a href="/shoppingcart">View cart</a>
      </button>
      <button class="button logoutButton">
        <a href="/userProfile">Log out</a>
      </button>
      <a class="changeBtn" href="/editUser">Change Settings</a>
    </div>
  </div>
{{else}}
  <br /><p>Still no logged in user, sorry!</p>
{{/if}}