{{#if userInSession}}
  <div class="wrapper userPage">
    <h1>Welcome, {{userInSession.username}}!</h1>
    <div class="userAccount">
      <p>This is your profile page my friend!</p>

      <form method="GET" action="/shoppingcart">
        <button class="button" type="submit">
          <img src="/images/cart-white.svg" alt="" />View cart</button>
      </form>

      <form method="POST" action="/logout">
        <button class="button logoutButton" type="submit">Log out</button>
      </form>

      <a class="changeBtn" href="/editUser">Change Settings</a>
    </div>
  </div>
{{else}}
  <br /><p>Still no logged in user, sorry!</p>
{{/if}}